/* 
* @Author: Administrator
* @Date:   2016-12-06 11:22:14
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-27 10:22:54
*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bababa;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bababa;
}

input:-ms-input-placeholder{
    color: #bababa;
}

input::-webkit-input-placeholder{
    color: #bababa;
}
body{
	line-height: 1.1em;
}
.red{
	color:#ff3b3b !important;
}
 .login-html a,.blue{
	color:#39a3f4;
}
.inner{
	width: 864px;
	margin: 0 auto;
	position: relative;
}
.shadow{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	background-color: #000;
	opacity: .4;
	filter: alpha(opacity=40);
}
.modal{
	position: absolute;
	top:50%;
	margin-top: -197px;
	left:50%;
	margin-left: -180px;
	width: 302px;
	height: 395px;
	padding: 0 29px;
	background-color: #fff;
	border-radius: 3px;
}
.modal .modal-title{
	padding: 30px 0;
	line-height: 1em;
	font-weight: normal;
	font-size: 20px;
	font-family: "微软雅黑";
	color:#323232;
}
.close{
	position: absolute;
	right:18px;
	top:16px;
	font-weight: bold;
	font-size: 20px;
	color:#b6b9b6;
}
.modal-body .input-group{
	position: relative;
	height: 36px;
	margin-bottom: 28px;
	border: 1px solid #dfdfdf;
	background: url(../images/login/icon1.png) 10px center no-repeat;
}
.modal-body .input-group.active{
	border-color: #66b2e6;
	background-color: #f7fcff;
	background-image: url(../images/login/icon1-a.png);
}
.modal-body .input-group.error{
	border-color: #ef6124;
}
.modal-body .input-group.active input{
	background-color: #f7fcff;
}
.modal-body .input-group i{
	position: absolute;
	right:13px;
	top:12px;
	width: 14px;
	height: 14px;
	background: url(../images/login/right.png) no-repeat;
}
.modal-body .input-group.error i{
	background-image: url(../images/login/error.png);
}
.modal-body input{
	border:0 none;
	width: 230px;
	padding: 8px 0;
	margin-left: 36px;
	*margin-top: -1px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.modal-body .pwd{
	background-image: url(../images/login/icon2.png);
}
.modal-body .email{
	background-image: url(../images/login/icon3.png);
}
.modal-body .pwd.active{
	background-image: url(../images/login/icon2-a.png);
}
.modal-body .email.active{
	background-image: url(../images/login/icon3-a.png);
}
.modal-body  .tip{
	position: absolute;
	left:0;
	top:45px;
	color:#787878;
}
.modal-body .input-group.error .tip{
	color:#ff3b3b;
}
.modal-body .btn{
	display: block;
	width: 100%;
	height: 38px;
	background-color: #118bda;
	color:#fff;
	text-align: center;
	font:18px/38px  "微软雅黑";
}
.modal-body .btn:hover{
	background-color: #3fb0f9;
}
.modal-body .actions{
	padding: 16px 0 20px;
	height: 16px;
	line-height: 16px;
	color:#4a4a4a;
}
.modal-body .actions p{
	margin-top: 2px;
}
.modal-body .checkbox i{
	display: inline-block;	
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 7px;
	width: 13px;
	height: 13px;
	border: 1px solid #767676;
	overflow: hidden;
}
.modal-body .checkbox i.active{
	background: url(../images/login/checkbox-a.png) center no-repeat;
}
.modal-footer{
	border-top: 1px dotted #dcdcdc;
	padding-top: 16px;
	color:#8e8e8e;
}
.modal-footer .icon{
	padding-top: 14px;
}
.modal-footer a{
	margin-right: 8px;
}
.banner{
	min-width: 1300px;
	height: 549px;
	background: url(../images/login/banner.jpg) center top no-repeat;
}
.register{
	height: 508px;
	top:20px;
	margin-top: 0;
	left:20px;
	margin-left: 0;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4),-1px -1px 5px rgba(0,0,0,0.1);
}
.register .modal-title{
	padding: 22px 0;
	font-size: 22px;
}
.register .modal-header .right{
	padding-top: 32px;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#595959;
}
.width966Auto{
	width: 966px;
	margin: 0 auto;
}
.protocol{
	width: 830px;
	padding: 28px 68px 36px;
	margin-top: 54px;
	border-top: 5px solid #728def;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 24px; 
	font-size: 14px;
	color:#494949;
}
.protocol span{
	display: inline-block;
	padding: 0 42px;
	margin-bottom: 42px;
	border-bottom: 2px solid #87cbf6;
	font:26px/50px "微软雅黑";
	color:#323232;
}
.protocol .item{
	text-align: left;
	margin-bottom: 25px;
}
.protocol p{
	text-indent: 2em;
}
.protocol .btn-close{
	display: block;
	width: 176px;
	height: 52px;
	background: url(../images/login/btn-close.jpg) no-repeat;
	margin:52px auto 0;
}
.banner1{
	height: 470px;
	background-image: url(../images/login/banner1.jpg);
}
.modal2{
	width: 725px;
	height: 303px;
	left:70px;
	top:80px;
	margin-left: 0;
	margin-top: 0;
}
.modal2 .modal-title{
	padding: 0;
	line-height: 44px;
	margin-top: 15px;
	border-bottom: 2px solid #f6f6f6;
}
.modal2 .username{
	color:#ea0000;
}
.modal2 .modal-body{
	text-align: center;
	font-size: 14px;
}
.modal2 .btn{
	width: 187px;
	height: 40px;
	border-radius: 5px;
	margin: 54px auto 24px;
	background-color: #1ea0f2;
	font:16px/40px "微软雅黑";
}
.modal2 .btn:hover{
	color:#fff;
}
.modal2 .success{
	text-align: center;
	padding-top: 25px;
}
.modal2 .success img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}
.modal2 .success span{
	display: inline-block;
	vertical-align: middle;
	font:28px/50px "微软雅黑";
}
.goBack{
	text-decoration: underline;
}
.minWidth1300{
	min-width: 1300px;
}

.modal .loading{
	margin-left: -16px;
	margin-top: 60px;
}